html, body {
  margin: 0;
  padding: 0;
  background: white;
  color: #000000;
  font-family: "SF Pro Text","SF Pro Icons",Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing:border-box;
}

.navigation {
  position: relative;
  z-index: 2;
}

.navigation button {
  display: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
  line-height: 80px;
  right: 20px;
  top: 10px;
  background: none;
  border: none;
  padding: 0;
}
.navigation button img {
  width: 24px;
  height: 24px;
}

.header-section {
  color: white;
  height: 80px;
  line-height: 80px;
  background-color: #333333;
}

.header-filter {
  background-color: rgba(0,0,0,.2);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-background {
  height: 500px;
  background: url(https://i.ibb.co/HYPJZt2/background.jpg) #333 center no-repeat;
  background-size: cover;
  position: relative;
}

.content-section {
  padding-bottom: 40px;
}

.content-section h2 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  padding: 20px 0;
  color:#003F6C;
}
.content-section p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
  line-height:1.33;
}

.links {
  float: right;
}

.sub-links {
  display: inline-block;
  position: relative;  
  z-index:4;
}

.sub-links-menu {
  position: absolute;
  background: rgba(0, 0, 0, .6);
  border-radius: 8px;
  top: 64px;
  left: 22px;
  padding: 12px 18px;
  line-height: 32px;
  display: none;
  
}

.sub-links:hover {
  padding-bottom: 80px;
}

.sub-links:hover .sub-links-menu {
  display: block;
}

.links a, .links span {
  margin-left: 40px;
  color: white;
  text-decoration: none; 
  white-space: nowrap;
}

.sub-links-menu a {
  margin-left: 0;
 
}

.links a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  float: left;
}

.logo a {
  color: white;
}

.header h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  clear:both;
  position: relative;
  z-index: 1;
  line-height: 60px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 260px;
}

.calendar {
  width: 100%;
}

.calendar td {
  text-align: center;
}

@keyframes fade-out {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slide {
  from {transform: translate(100%, 0)};
  to {transform: translate(0, 0)};
}

@keyframes popup {
  from {transform: scale(0, 0)};
  to {transform: scale(1, 1)};
}

@media (max-width:640px) {
  .navigation button {
    display: block;
  }
  .links {
    display:none;
    position: absolute;
    background: #f1f1f1;
    right: 28px;
    top: 70px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    animation-name: slide;
    animation-duration: 0.3s;
    line-height: 32px;
    padding: 20px;
    z-index: 20;
  }

  .links a, .links span {
    display: block;
    color: #000000;
    margin: 0;
  }

  .sub-links {
    margin: 0;
  }

  .sub-links-menu {
    position: static;    
    padding: 0 0 0 20px;
    line-height: 32px;    
    margin: 0;
    display: block;
    background: none;
  }
  
  .sub-links:hover {
    padding-bottom: 0;
  }
  
  .navigation h1 {
    padding-top: 50px;
    font-size: 24px;
  }

  .header h1 {
    font-size: 28px;
    top: 130px;
    line-height: 1.5;
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
  .header-background {
    height: 320px;
  }

  .content-section h2 {
    font-size: 32px;
  }

  .events {
    overflow: auto;
  }

  #event {
    margin: 0 -12px;
  }
}


.content-section h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0 10px;
}

.content-section iframe {
  width: 100%;
  height: 600px;
}


.table {
  width: 100%;
  display: table;
}

.table p, .table a {
  font-size: 16px;
  color: black;
  padding: 4px 0;
  margin: 0;
  white-space: nowrap;
}

.table a {
  text-decoration: underline;
}

.section h3 {
  margin-left: 12px;
  padding-bottom: 16px;
  border-bottom: 0.5px solid #cdcdcd;
  padding-top: 20px;
}

.row {
  display: table-row;
  margin: 16px -12px;
}

.cell {
  padding: 8px 12px;
  display: table-cell;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.pic-1 {
  margin: 0 auto 40px;
  width: 500px;
  height: 250px;
  background: url(https://i.ibb.co/dkh04yB/Wechat-IMG28162.jpg) center no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.pic-2 {
  background: url(https://i.ibb.co/YBcwDkv/Wechat-IMG28165.jpg) center no-repeat;
  background-size: cover;
  border-radius: 8px;
  width: 500px;
  height: 250px;
  margin: 0 auto 40px;
}

.member {
  display: flex;
}

.card {
  width: 33%;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 30px rgba(0,0,0,.3);
}

.card p {
  padding: 10px 0;
  font-weight: normal;
  line-height: 32px;
}

.avatar {
  width: 100%;
  padding-bottom: 120%;
}

.avatar-1 {
  background: url(https://i.ibb.co/jrph2FW/Wechat-IMG28213.jpg) 50% 20% no-repeat;
  background-size: 100%
}

.avatar-2 {
  background: url(https://i.ibb.co/phRHMfw/Wechat-IMG28212.jpg) 50% 48% no-repeat;
  background-size: 100%
}

@media (max-width:640px) {
  .member {
    display: block;
  }
  .card {
    max-width: 400px;
    width: 100%;
    margin: 20px auto;    
  }
  .pic-2, .pic-1 {
    width: 100%;
    height: auto;
    padding-bottom: 50%;
  }
}

.footer {
  padding: 40px 16px 0;
  text-align: center;
  border-top: 1px solid #eee;
  max-width: 1200px;
  margin: 40px auto 0;
  box-sizing: border-box;
}

.footer p {
  padding: 8px 0;
  margin: 0;
}

.footer img {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.dt {
  width: 443px;
}

.loc {
  width: 328px;
}

.lev {
  width: 270px;
}

.reg {
  width: 120px;
}

